/* lato - 100 300 400 700 900 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html {
	font-size: 62.5%;
}
body {
	font-family: "Lato", sans-serif;
	color: $color-gray;
	font-weight: 400;
	line-height: 1.7;
}
.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quaternary {
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
}
.heading-primary {
	text-transform: uppercase;

	& > * {
		display: block;
	}

	&--main {
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
	}
	&--sub {
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;
	}
}
.paragraph-primary {
}
