:root {
	--gap-h: 2rem;
	--gap-v: 2rem;
}

/* colors */
$color-green-light: #7ed56f;
$color-green-medium: #55c57a;
$color-green-dark: #28b485;

$color-gray: #777;
$color-gray-light: #f7f7f7;
$color-gray-lighter: #eee;

$color-white: #fff;
$color-black: #000;

/* font */
$font-default: 1.6rem;
