*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body {
	overflow-x: hidden;
	padding: 3rem;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	border: none;
	outline: none;
	background: none;
}
