/* icons */
.icon-s {
	font-size: 2rem;
}
.icon-m {
	font-size: 4rem;
}
.icon-l {
	font-size: 6rem;
}
.icon-gradient {
	background-image: linear-gradient(
		to right,
		$color-green-light,
		$color-green-dark
	);
	background-clip: text;
	color: transparent;
}
/* border */
.rounded-10 {
	border-radius: 10rem;
}
.rounded-03 {
	border-radius: 3px;
}
/* text */
.text-white {
	color: $color-white;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
/* spacing */
.mb-s {
	margin-bottom: 2rem;
}
.mb-m {
	margin-bottom: 4rem;
}
.mb-l {
	margin-bottom: 6rem;
}
.mb-xl {
	margin-bottom: 8rem;
}
.p-s {
	padding: 2rem;
}
.p-l {
	padding: 6rem;
}
.pb-s {
	padding-bottom: 2rem;
}
.pb-m {
	padding-bottom: 4rem;
}
.pb-l {
	padding-bottom: 6rem;
}
.py-s {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.py-m {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.py-l {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

/* position */
.p-absolute {
	position: absolute;
}
.p-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* bg */
.bg-gray-light {
	background-color: $color-gray-light-2;
}
.bg-white-08 {
	background-color: rgba($color-white, 0.8);
}
.bg-white-06 {
	background-color: rgba($color-white, 0.6);
}
.bg-shadow {
	box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
}
